html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, p {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif;
  font-size: 14px;
  color: #191919;
  background-color: #FFFFFF;
  display: flex;
	justify-content: center;
	align-items: center;
}

a {
  text-decoration: none;
}

#field {
  text-align: center;
}

#message {
  line-height: 60px;
  font-size: 24px;
  font-weight: bold;
}

#cards {
  height: 300px;
  width: 230px;
  margin: 0 auto;
}

.card {
  height: 300px;
  width: 230px;
  display: block;
  margin: 0 auto;
  border: 1px solid #B3B3B3;
  border-radius: 10px;
  position: absolute;
  object-fit: cover;
}

#startButtons {
  width: 300px;
  margin: 0 auto;
}

.button {
  display: block;
  text-align: center;
  line-height: 50px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  margin: 10px auto 0;
  cursor: pointer;
  background-color: #ffffff;
  color: #191919;
  border-radius: 25px;
  border: solid 1px #191919;
}

.button:active {
  transform: translateY(4px);
  border-bottom: none;
}

.button:focus {
	outline:0;
}

#list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 230px;
}

.thumb {
  object-fit: cover;
  height: 50px;
  width: 40px;
  border: 1px solid #B3B3B3;
  margin: 10px 5px 0 0;
}

.blue {
  background-color: #45C0BF;
  color: #ffffff;
  border-radius: 25px;
  border: solid 1px #45C0BF;
  border-bottom: solid 4px #0f9191;
}

.pink {
  background-color: #FF7D81;
  color: #ffffff;
  border-radius: 25px;
  border: solid 1px #FF7D81;
  border-bottom: solid 4px #d1696c;
}

.orange {
  background-color: #F19149;
  color: #ffffff;
  border-radius: 25px;
  border: solid 1px #F19149;
  border-bottom: solid 4px #c27338;
}

.green {
  background-color: #28B698;
  color: #ffffff;
  border-radius: 25px;
  border: solid 1px #28B698;
  border-bottom: solid 4px #1d8a72;
}
